@(courses: List[Course])

@main("Create Course") {
    <h2>New Course:</h2>
    <form action="/create" method="post">
        <div>
            <label for="name">Name</label>
            <input type="text" name="name" />
        </div>
        <div>
            <label for="content">Content</label>
            <textarea name="content" ></textarea>
        </div>
        <div>
            <label for="content">Parent Course</label>
            <select name="parent">
                @for(course <- courses) {
                    <option value="@course.id">@course.name</option>
                }
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
}