@(courses: List[Course])

@main("Course List") {
    <div class="row">
        <div class="span10">
            <table class="table table-bordered">
                <tr>
                    <td>Name</td>
                    <td>Content</td>
                </tr>
            @for(course <- courses) {
                <tr>
                    <td>@course.name</td>
                    <td>@course.content</td>
                </tr>
            }
            </table>
            <button class="btn btn-primary" onclick="window.location.href='/create'">Create</button>
            <button class="btn btn-primary" onclick="window.location.href='/diagram'">Diagram</button>
        </div>
    </div>
}