@(courses: List[Course])

@main("Course Details") {
    <fieldset>
        <legend>Course Lists:</legend>
        <div class="course-list clearfix">
            @for(course <- courses) {
                <ul>
                    <li class="col-md-4">Name: @course.name</li>
                    <li class="col-md-4">Content: @course.content</li>
                </ul>
            }
        </div>
        <div>
            <button onclick="window.location.href='/create'">Create Course</button>
        </div>
    </fieldset>
}
